::selection {
    background-color: #fec260;
    color: #352e28;
}

body {
    font-family: "PT Sans Caption", sans-serif;
    background-color: #f7ecde;
}

main .bookmark header h1 {
    font-family: "Pacifico", cursive;
    font-size: 3.125rem;
    isolation: isolate;
    color: #352e28;
}

main .bookmark header h1::before {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 25%;
    background-color: #fec260;
    z-index: -1;
    transition: all 350ms;
}

main .bookmark header h1:hover::before {
    height: 50%;
}

.form-control:focus {
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
}

main .bookmark .body {
    border-width: 2px 0;
    border-style: dotted;
    border-color: #352e28;
}

main .bookmark .body h2 {
    font-family: "Righteous", sans-serif;
    font-size: 1.25rem;
    background-image: linear-gradient(to Right , #3ca55c , #b5ac49);
    -webkit-background-clip: text;
    color: transparent;
}

main .bookmark .body .icon {
    width: 20px;
}

main .bookmark .body button.submit-btn {
    background-color: #d1512d;
    border-color: #d1512d;
}

main .bookmark .body button.submit-btn:hover {
    background-color: #bb4120;
    border-color: #a03315;
}

main .bookmark .my-table .col {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #dee2e6;

}

main .bookmark .my-table p {
    margin: 0;
    overflow: auto;
}

main .bookmark .my-table button.visit-btn {
    background-color: #9eb23b;
    border-color: #9eb23b;
}

main .bookmark .my-table button.visit-btn:hover {
    background-color: #8a9e23;
    border-color: #6e8018;
}

.modal .modal-content .modal-header .circles div.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.modal .modal-content .modal-header .circles div.circle.red {
    background-color: #f15f5d;
}

.modal .modal-content .modal-header .circles div.circle.yellow {
    background-color: #febe2e;
}

.modal .modal-content .modal-header .circles div.circle.green {
    background-color: #4db748;
}

.modal .modal-content .modal-body p {
    font-size: 1.125rem;
}

.modal .modal-content .modal-body p i {
    color: #bb4120;
}







/* Small devices (landscape phones, 576px and up) */
@media (min-width: 500px) {

    main .bookmark .body h2 {
        font-size: 1.5625rem;
    }
}